n8n-workflows/categories/impossible-travel/impossible-travel-detection.json
{
    "name": "X-n8 Impossible Travel Detection",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "auth/login-event"
            },
            "id": "webhook",
            "name": "Login Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "jsCode": "const login = $input.first().json;\n\n// Get last login from Redis/DB\nconst previousLogin = await $workflow.getVariable('lastLogin_' + login.user) || null;\n\nif (previousLogin) {\n  const distance = calculateDistance(previousLogin.location, login.location);\n  const timeElapsed = (new Date(login.timestamp) - new Date(previousLogin.timestamp)) / 3600000;\n  const maxSpeed = 1000; // km/h\n  \n  if (distance / timeElapsed > maxSpeed) {\n    return {\n      json: {\n        alert_type: 'impossible_travel',\n        user: login.user,\n        previous_location: previousLogin.location,\n        current_location: login.location,\n        distance_km: distance,\n        time_hours: timeElapsed,\n        severity: 'high',\n        use_case_id: 'UC-151'\n      }\n    };\n  }\n}\n\nreturn { json: { skip: true } };\n\nfunction calculateDistance(loc1, loc2) {\n  const R = 6371;\n  const dLat = (loc2.lat - loc1.lat) * Math.PI / 180;\n  const dLon = (loc2.lon - loc1.lon) * Math.PI / 180;\n  const a = Math.sin(dLat/2) * Math.sin(dLat/2) +\n            Math.cos(loc1.lat * Math.PI / 180) * Math.cos(loc2.lat * Math.PI / 180) *\n            Math.sin(dLon/2) * Math.sin(dLon/2);\n  return R * 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));\n}"
            },
            "id": "detect-travel",
            "name": "Detect Impossible Travel",
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "conditions": {
                    "boolean": [
                        {
                            "value1": "={{ $json.skip }}",
                            "operation": "notEqual",
                            "value2": true
                        }
                    ]
                }
            },
            "id": "is-impossible",
            "name": "Is Impossible?",
            "type": "n8n-nodes-base.if",
            "typeVersion": 1,
            "position": [
                650,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "={{ $env.XSOAR_URL }}/incident",
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "name",
                            "value": "Impossible Travel: {{ $json.user }}"
                        },
                        {
                            "name": "severity",
                            "value": "3"
                        }
                    ]
                }
            },
            "id": "xsoar-incident",
            "name": "Create Incident",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4,
            "position": [
                850,
                300
            ]
        }
    ],
    "connections": {
        "Login Webhook": {
            "main": [
                [
                    {
                        "node": "Detect Impossible Travel",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Detect Impossible Travel": {
            "main": [
                [
                    {
                        "node": "Is Impossible?",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Is Impossible?": {
            "main": [
                [
                    {
                        "node": "Create Incident",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "tags": [
        "x-n8",
        "impossible-travel",
        "UC-151"
    ]
}